{% extends "account/base.html" %}
<!-- Extend the base template for account-related pages -->

{% load i18n %}
<!-- Load the internationalization library for translations -->

{% block head_title %}
{% trans "Sign Out" %}
<!-- Set the page title to "Sign Out" -->
{% endblock %}

{% block inner %}
<!-- Main content block for the page -->
<h1>{% trans "Sign Out" %}</h1>
<!-- Display the "Sign Out" heading -->

<p>{% trans 'Are you sure you want to sign out?' %}</p>
<!-- Ask the user to confirm if they want to sign out -->

<form method="post" action="{% url 'account_logout' %}">
  <!-- Create a form to handle the sign-out process -->
  {% csrf_token %}
  <!-- Add CSRF protection for security -->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  <!-- Include a hidden field for redirecting after signing out, if applicable -->
  {% endif %}
  <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
  <!-- Button to submit the form and sign out -->
</form>

{% endblock %}
