{% extends "account/base.html" %}
<!-- Extend the base account template to maintain consistent structure and style -->

{% load i18n %}
<!-- Load the internationalization library to support translations -->

{% block head_title %}
    {% trans "Change Password" %}
    <!-- Set the page's title to "Change Password" -->
{% endblock %}

{% block inner %}
    <!-- Define the main content area for the "Change Password" page -->
    <h1>{% trans "Change Password" %}</h1>
    <!-- Display the heading "Change Password" -->
    
    <p>{% trans 'Your password is now changed.' %}</p>
    <!-- Inform the user that their password has been successfully changed -->
{% endblock %}
