{% extends "account/base.html" %}
<!-- Extend the base account template to maintain consistent styling and structure -->

{% load i18n %}
<!-- Load the internationalization library for translations -->
{% load crispy_forms_tags %}
<!-- Load crispy forms library for better form rendering and styling -->

{% block head_title %}
{% trans "Change Password" %}
<!-- Set the page's title to "Change Password" -->
{% endblock %}

{% block inner %}
<!-- Define the main content area of the page -->
    <h1>
        {% if token_fail %}
        {% trans "Bad Token" %}
        <!-- Display "Bad Token" as the heading if the reset token is invalid -->
        {%
