asgiref==3.8.1
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
Django==4.2.19
django-allauth==65.3.1
django-crispy-forms==2.3
django-datatables-view==1.20.0
django-gmailapi-backend==0.3.2
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
httplib2==0.22.0
idna==3.10
pillow==10.4.0
proto-plus==1.26.0
protobuf==5.29.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pyparsing==3.1.4
requests==2.32.3
rsa==4.9
setuptools==75.3.0
sqlparse==0.5.3
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.2.3
wheel==0.45.1
