{% extends 'base.html' %}
{% block content %}

<h1>{{specrun.run_title}}</h1>
<ul>
<li>Uploaded: {{specrun.upload_date}}</li>
<li>Ran: {{specrun.run_date}} by {{specrun.run_user}}</li>
<li>File: <a href="{{specrun.source_file.url}}">{{specrun.source_file}}</li></a>
<li>Description: <textarea>{{specrun.run_description}}</textarea></li>
<li>{{specrun.data_points}} Datapoints: <textarea>{{specrun.data}}</textarea><br>
</ul>

<form action="{% url 'cdspec:edit' specrun.id %}">
    {% csrf_token %}
    <input type="submit" name="edit" value="Edit" />
</form>

<form action="{%url 'cdspec:delete' specrun.id%}" method="post">
    {% csrf_token %}
    <input type="submit" name="delete" value="Delete" />
</form>

<div id="graph" width="400" height="200"> </div>

<button onClick = "changeY()">Display {{specrun.y_units}}</button>
<button onClick = "changeY2()">Display {{specrun.y2_units}}</button>
<button onClick = "changeY3()">Display {{specrun.y3_units}}</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 <link href="//cdn.rawgit.com/twbs/bootstrap/v4.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
 <link href="dist/css/bootstrap-colorpicker.css" rel="stylesheet">
  <div class="jumbotron">
      <h1>Bootstrap Colorpicker Demo</h1>
      <input id="demo" type="text" class="form-control" value="rgb(255, 128, 0)" />
  </div>
  <script src="//code.jquery.com/jquery-3.3.1.js"></script> 
  <script src="//cdn.rawgit.com/twbs/bootstrap/v4.1.3/dist/js/bootstrap.bundle.min.js"></script> 
  <script src="dist/js/bootstrap-colorpicker.js"></script> 
  <script>
    $(function () {
      // Basic instantiation:
      $('#demo').colorpicker();
      
      // Example using an event, to change the color of the .jumbotron background:
      $('#demo').on('colorpickerChange', function(event) {
        $('.jumbotron').css('background-color', event.color.toString());
      });
    });
  </script> 
<script>
var canvas = document.getElementById('graph');

//plot (x, y) data as scatter plot
var trace = {
    
    x: {{x|safe}},
    y: {{y|safe}},
    mode: 'lines+markers',
    marker: {
        color: 'black'
    },
    line: {
        color: 'black'
    }
};

var data = [trace];

var layout = {
    showlegend: false,
    xaxis: {
        title: {
            text: '{{specrun.x_units}}'
        }
    }, 
    yaxis: {
        title: {
            text: '{{specrun.y_units}}'
        }
    }
}; 


Plotly.newPlot(canvas, data, layout);

//change data/axes to (x, y)
function changeY() {
    Plotly.deleteTraces(canvas, 0);
    Plotly.addTraces(canvas, {
        x: {{x|safe}},
        y: {{y|safe}},
        mode: 'lines+markers',
         marker: {
            color: 'black'
           
        },
        line: {
            color: 'black'
        }
    });

    var layout_update = {
        yaxis: {
            title: {
                text: '{{specrun.y_units}}'
            }
        }
    };

    Plotly.update(canvas, {}, layout_update);
}

//change data/axes to (x, y2)
function changeY2() {
    Plotly.deleteTraces(canvas, 0);
    Plotly.addTraces(canvas, {
        x: {{x|safe}},
        y: {{y2|safe}},
        mode: 'lines+markers',
         marker: {
            color:'black' 
        },
        line: {
            color:'black' 
        }
    });
    var layout_update = {
        yaxis: {
            title: {
                text: '{{specrun.y2_units}}'
            }
        }
    };
    Plotly.update(canvas, {}, layout_update);
}

//change data/axes to (x, y3)
function changeY3() {
    Plotly.deleteTraces(canvas, 0);
    Plotly.addTraces(canvas, {
        x: {{x|safe}},
        y: {{y3|safe}},
        mode: 'lines+markers',
         marker: {
            color: 'black'
        },
        line: {
            color: 'black'
        }
    });
    var layout_update = {
        yaxis: {
            title: {
                text: '{{specrun.y3_units}}'
            }
        }
    };
    Plotly.update(canvas, {}, layout_update);
}
</script>


{% endblock %}