{% extends 'base.html' %}
{% block content %}
<h1>{{specrun.run_title}}</h1>
<ul>
<li>Uploaded: {{specrun.upload_date}}</li>
<li>Ran: {{specrun.run_date}} by {{specrun.run_user}}</li>
<li>Filename: {{specrun.source_file}}</li>
<li>Description: <textarea>{{specrun.run_description}}</textarea></li>
<li>{{specrun.data_points}} Datapoints: <textarea>{{specrun.data}}</textarea><br>
X: {{specrun.x_index}}, Degrees: {{specrun.degrees_index}}, Voltage: {{specrun.voltage_index}}, Absorbance: {{specrun.absorbance_index}}</li>
</ul>

<div class = "container"> 
    <canvas id = 'graphTest' width="400" height="200">
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>

let xdata = {{x|safe }};
let ydata = {{y|safe }};

var coords = xdata.map( (v,i) => ({ x: v, y: ydata[i] }) )
Chart.defaults.scatter.showLines = true;

var gT = document.getElementById('graphTest');

var chartTest = new Chart(gT, {
  type: 'scatter' ,
  data: {
    labels:['testing1' ],
    datasets:[{
      fill: false ,
      label: "{{specrun.run_title|safe }}",
      backgroundColor: 
      "rgb(255, 0, 0)", // red
      data:  coords  },
      /*{
      fill: false ,  
      label:'set2' ,
        backgroundColor: 
      "rgb(0, 0, 255)" ,// blue
      data: test2

    }*/]
  },
  options:{

    scales: {
        xAxes: [{
            type: 'linear',
            position: 'bottom'
        }]
    }
  }
});


</script>

<a href={% url 'cdspec:edit' specrun.id %}>Edit</a>
{% endblock %}