{% extends 'base.html' %}
{% block content %}
<h>Multi Graph</h>
<div class = "container"> 
    <canvas id = 'graphTest' width="400" height="200">
</div>

<button onClick = "changeY()">Display {{first.y_units}}</button>
<button onClick = "changeY2()">Display {{first.y2_units}}</button>
<button onClick = "changeY3()">Display {{first.y3_units}}</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>

function rainbowStop(h) {
  let f= (n,k=(n+h*12)%12) => .5-.5*Math.max(Math.min(k-3,9-k,1),-1);  
  let rgb2hex = (r,g,b) => "#"+[r,g,b].map(x=>Math.round(x*255).toString(16).padStart(2,0)).join('');
  return ( rgb2hex(f(0), f(8), f(4)) );
} 

Chart.defaults.scatter.showLines = true;

var gT = document.getElementById('graphTest');

var chartTest = new Chart(gT, {
  type: 'scatter',
  data: {
    datasets:[
    {% for protein in proteins %}
    {
      pointRadius: 0,
      fill: false ,
      label: "{{protein.model.run_title|safe}}",
      backgroundColor: rainbowStop({{forloop.counter}}/{{proteins|length}}),
      borderColor: rainbowStop({{forloop.counter}}/{{proteins|length}}), // red
      data:  {{protein.x|safe}}.map( (v,i) => ({ x: v, y: {{protein.y|safe}}[i] })) 
      },

    {% endfor%}
    ]
  },
  options:{

    scales: {
        xAxes: [{
            type: 'linear',
            position: 'bottom',
            scaleLabel: {
                display: true,
                labelString: "{{first.x_units}}"
            }
        }],
        yAxes: [{
            scaleLabel: {
                display: true,
                labelString: "{{first.y_units}}"
            }
        }]
    }
  }
});

function changeY() {
  chartTest.data = {
    datasets:[
    {% for protein in proteins %}
    {
      pointRadius: 0,
      fill: false ,
      label: "{{protein.model.run_title|safe}}",
      backgroundColor: rainbowStop({{forloop.counter}}/{{proteins|length}}),
      borderColor: rainbowStop({{forloop.counter}}/{{proteins|length}}), // red
      data:  {{protein.x|safe}}.map( (v,i) => ({ x: v, y: {{protein.y|safe}}[i] })) 
      },

    {% endfor%}
    ]
  };
  chartTest.options.scales.yAxes = [{
            scaleLabel: {
                display: true,
                labelString: "{{first.y_units}}"
            }
        }];
  chartTest.update();
}

function changeY2() {
  chartTest.data = {
    datasets:[
    {% for protein in proteins %}
    {
      pointRadius: 0,
      fill: false ,
      label: "{{protein.model.run_title|safe}}",
      backgroundColor: rainbowStop({{forloop.counter}}/{{proteins|length}}),
      borderColor: rainbowStop({{forloop.counter}}/{{proteins|length}}), // red
      data:  {{protein.x|safe}}.map( (v,i) => ({ x: v, y: {{protein.y2|safe}}[i] })) 
      },

    {% endfor%}
    ]
  };
  chartTest.options.scales.yAxes = [{
            scaleLabel: {
                display: true,
                labelString: "{{first.y2_units}}"
            }
        }];
  chartTest.update();
}

function changeY3() {
  chartTest.data = {
    datasets:[
    {% for protein in proteins %}
    {
      pointRadius: 0,
      fill: false ,
      label: "{{protein.model.run_title|safe}}",
      backgroundColor: rainbowStop({{forloop.counter}}/{{proteins|length}}),
      borderColor: rainbowStop({{forloop.counter}}/{{proteins|length}}), // red
      data:  {{protein.x|safe}}.map( (v,i) => ({ x: v, y: {{protein.y3|safe}}[i] })) 
      },

    {% endfor%}
    ]
  };
  chartTest.options.scales.yAxes = [{
            scaleLabel: {
                display: true,
                labelString: "{{first.y3_units}}"
            }
        }];
  chartTest.update();
}


</script>

{% endblock %}