



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// color customizer wheel

$shadow-blue: #003366;
$lightshadow-blue: #336699;
$medium-blue: #3366cc;
$dark-blue: #003399;
$verydark-blue: #000099;
$mediumlight-blue: #0000cc;
$darknavy-blue: #000066;
$dark-cyan:#006666;
$medium-cyan:#006699;

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
