



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// color customizer wheel

$shadow-blue: #003366;
$lightshadow-blue: #336699;
$medium-blue: #3366cc;
$dark-blue: #003399;
$verydark-blue: #000099;
$mediumlight-blue: #0000cc;
$darknavy-blue: #000066;
$dark-cyan:#006666;
$medium-cyan:#006699;
$mid-blue:#0099cc;
$mid-dark-blue: #0066cc;
$plain-blue: #0000ff;
$purple-blue: #3333ff;
$darkpurple-blue: #333399;
$gray-greenblue: #669999;
$mid-darkcyan: #009999;
$light-bluecyan: #33cccc;
$light-blue: #00ccff;
$midlight-blue: #0099ff;
$closeto-blue: #0066ff;
$lightpurple-blue: #3366ff;
$midlightpurple-blue: #3333cc;
$gray-purple:#666999;
$mid-green: #339966;
$midlight-green:#00cc99;
$lighturquiose:#00ffcc;
$cyan-aqua:#00ffff;
$mid-cyan:#33ccff;
$blue-purple:#3399ff;
$light-purple:#6699ff;
$mid-purple:#6666ff;
$dark-purple:#6600ff;
$extremedark-purple:#6600cc;
$leafy-green:#339933;
$leaftlight-green:#00cc66;
$lemon-green:#00ff99;
$cyan-green:#66ffcc;
$light-cyan:#66ffff;
$shadowcyan:#66ccff;
$grayblue:#99ccff;
$lightpurple:#9999ff;
$midpurple:#9966ff;
$middark-purple:#9933ff;
$closeto-purple:#9900ff;
$dark-green:#006600;
$midlime-green:#00cc00;
$lime:#00ff00;
$light-lime:#66ff99;
$light-green:#99ffcc;
$verylight-blue:#ccffff;
$verylight-purple:#ccccff;
$pink-purple:#cc99ff;
$light-violet:#cc66ff;
$mid-violet:#cc33ff;
$middark-violet:#cc00ff;
$dark-violet:#9900cc;
$verydark-green:#003000;
$darkgreen:#009933;
$midlightgreen:#33cc33;
$limelemon:#66ff66;
$lightlimegreen:#99ff99;
$palegreen:#ccffcc;
$linghtpink:#ffccff;
$lightmagenta:#ff99ff;
$midmagenta:#ff66ff;
$magenta:#ff00ff;
$darkmagenta:#cc00cc;
$darkpurple:#660066;
$green-green:#336600;
$midgreen:#009900;
$brightgre:#66ff33;
$brightlemongreen:#99ff66;


// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
