{% extends "base.html" %}

{% block content %}
<html>

    <head>
    <title>CD Spec Viewer About and FAQ Page</title>
    <style>
    .Instruction {
        text-align: justify;
        line-height: 1.8;
    }
    .projectAbout{
        text-align: justify;
    }

    </style>
    </head>
    <body>

        <div class = "projectAbout">
            <h1>About CD Spec Viewer</h1>
            <hr>
            <p>This is a spectrometer project by Dr. Sherrer.</p>
            <p>This project was developed by students taking the COSC Capstone course at St. Mary's College of Maryland during the Fall 2020,
            Spring 2021, and Spring 2023 semesters. We have created this website for people to upload and view their CD Spectrometer runs.</p>
            <!--Waiting on the User Manual to be done, so I can add the link to it. -->
            <p>Frenquently Asked Questions about the site are featured below. To get more information, please refer to the <a href="">User Manual</a>.</p>
        </div>

        <div class ="Instruction">

            <h3 style ="font-size:18px">How do I view CD spectrometer runs?</h3>
            <p>A table view listing all of the runs can be found by clicking on the <a href="{% url 'cdspec:index' %}">Index</a> tab on the top of the page.<br>
            You can see a detailed view of each run by clicking on the name on the first column of the table.<br>
            If you want to graph multiple runs at once, you must select multiple runs by clicking on the rows of the table.</p>
            {% if perms.cdspec.can_edit %}
            <p>Additionally, as an Administrator, you have the ability to edit/delete individual runs. The Administrator controls are located at the bottom of the detailed view page.</p>
            {% endif %}

            <h3 style ="font-size:18px">How do I upload runs to the database?</h3>
            <p>If you want to upload a CD spectrometer run, click on the upload button on the table view page.<br>
            This will lead you to the create page, where you will need to fill out various information and provide a properly formatted .csv file pertaining to the run.<br>
            Once this is done, you can then click the submit button. You will be redirected to a detailed view of that run that includes an interactive graph.</p>

            <h3 style ="font-size:18px">How do I create an account?</h3>
            <p>You can create an account by clicking on <a {% if not request.user.is_authenticated %} href="{% url 'account_signup' %}" {% endif %}> Sign Up</a> at the top of the page.<br>
            This will lead you to a sign up page, where you will need to provide an email address and password.<br>
            You must then go into your email and click on the verification link in order to verify your account before being authorized.<br>
            Alternatively, if you have an SMCM email, you can go straight to the <a {% if not request.user.is_authenticated %} href="{% url 'account_login' %}" {% endif %}>Login</a> page and log in using your Google account.</p>

            <h3 style ="font-size:18px">How do I sign in?</h3>
            <p>You can sign in to your account by clicking on <a {% if not request.user.is_authenticated %} href="{% url 'account_login' %}" {% endif %}>Sign In</a> at the top of the page.<br>
            If you have an SMCM email, then you can simply sign in with Google.</br>
            Otherwise, your login username will be the beginning part of the your email preceding "@example.com".<br>
            You need to enter the verified password that you created for your account on the website.<br>
            You can allow the website to remember your account if you like; this part is optional.</p>

            <h3 style ="font-size:18px">How can I manage my account?</h3>
            <p>If you are logged in, you can go to <a {% if request.user.is_authenticated %} href="{% url 'users:detail' request.user.username  %}" {% endif %}>My Profile</a> to manage your account.<br>
            You have the option of adding/removing/verifying your email address(es) as well as changing your primary email.<br>
            If you have not already done so, you can also connect your existing account to your SMCM account.</p>

            {% if request.user.is_staff %}
            <h3 style ="font-size:18px">Admin Site Information: </h3>
            <p>You can visit the admin site by clicking on <a href="/admin/">Admin</a> at the top of the page.<br>
            This will take you to the Admin Site where you can view database information about the CD spectrometer runs as well as all of the users and their connected emails.<br>
            You also have the ability to go to each individual user and change their group.<br>
            Currently, you can set a user as an Administrator and Student (if you see this block, you are a Master Administrator with staff status).<br>
            An Administrator has the power to view all runs in the database as well as the ability to upload, edit, and delete any run.<br>
            A student can upload runs and view any non-public runs marked "Visible to Student". However, they cannot edit or delete runs.</p>
            {% endif %}

        </div>
    </body>
</html>
{% endblock %}
