{% extends "base.html" %}
{% block content %}
<html>

<head>
    <title>Credits Page </title>
</head>

<body>

    <h1>Credits</h1>
    <hr>

    <p><b>2023 Project Lead(s): </b>Jordan Golden</p>

    <p><b>2023 R&D Contributors: </b>William Capon (R&D Lead), Adam Shaw, Sosan Wahid, Shameer Rao, Ariat Ojulu, Marjon Ward, Garrett Bridgwater</p>
   
    <p><b>2023 Q&A Contributors: </b>Isabella Stephens (Q&A Lead), Matt Boddicker, Gavin McDonald, Liam Pratt, Jordan Reece</p>
    
    <p><b>2023 SysOps Contributers: </b>Brittany Brenneman, Leon Carrington</p> 

    <h2>Past Contributors</h2>

    <p><b>2020 Project Lead(s): </b>Alexander De La Paz, Caleb Shankle</p>

    <p><b>2020 R&D Contributors: </b>Alexander White, Cooper Rice, Benjamin Bowering, Braden Clough, Edmund Sherman, Jim Toledo, Jordan Dixon, Kathryn Li, Patrick Romero, Thomas Walker</p>

    <p><b>2020 Q&A Contributors: </b>Annette Orr, Braden Clough, Cameron Carpenter, Christopher Beatrez, Edward Park, Faith Meyer</p>

</body>

</html>
{% endblock content %}
