{% extends "base.html" %}

{% block content %}
<html>
    <head>
    <title>CD Spec Viewer About Page</title>
    <style>
    .Instruction {
        text-align: center;
        background-color: lightblue;
    }
    </style>
    </head>
    <body>
        <h1>CD Spec Veiwer About Page</h1>
        <p style ="font-size:12px">This is a spectrometer project by Dr. Sherrer.</p>
        <p style ="font-size:12px">This project is collaborated with students taking the COSC Capstone course at St. Mary's College of Maryland during the Fall 2020 and Spring 2021 semesters. We have created the website for people to upload their data and dispay the results.</p>
        <div class ="Instruction">
            <h3 style ="font-size:18px">This is how to use the cdspeccollab.smcm.edu website:</h3>
            <p style ="font-size:12px">If you want to upload a .CSV file to the website, please click on the upload button.</p>
            <p style ="font-size:12px">This will lead you to a create page, which will have certain requirements you will need to fill out first.</p>
            <p style ="font-size:12px">Once you fill in all of the required info in the create page, you can then click the submit button.</p>
            <h3 style ="font-size:18px">Click on the index button on the navagation bar to take you the table view page:</h3>
            <p style ="font-size:12px">If you want to multigraph the data, you must select the graphs that contain the data before you click the multigraph button.</p>
            <p style ="font-size:12px">There is an search bar in the table view page but is currently case sensitive and specific on the order of the words in the searched text.</p>
            <p style ="font-size:12px">There is an previous button and next button in the table view page at the bottom, so you can see how many people put entries in the website.</p>
            <h3 style ="font-size:18px">If you want to create an account on the website. Click on the Sign Up button on the navagation bar to take you the sign up page:</h3>
            <p style ="font-size:12px">The Sign Up button will lead you to a create account page which will have certain requirements you need to fill out first.</p>
            <p style ="font-size:12px">Once you fill in all of the required info in the sign up page, you can then click submit button.</p>
            <p style ="font-size:12px">You must go to your email that you registered with and click on the verification link in order to verify your account before being authorized.</p>
            <p style ="font-size:12px">You are done signing up for the website.</p> 
            <h3 style ="font-size:18px">If you want to sign in to the website, click on the Sign In button on the navagation bar to take you the sign in page:</h3>
            <p style ="font-size:12px">Your login username will be the beginning part of the your email without everything after the @ symbol.</p>
            <p style ="font-size:12px">You need to enter the password you created for your account on the website during the sign up process.</p>
            <p style ="font-size:12px">You can make choose to allow the website to remember your account if you prefer, this part is optional.</p>
            <p style ="font-size:12px">You are done signing in to the website.</p>
            <h3 style ="font-size:18px">What happens if you forget your account password?:</h3>
            <h3 style ="font-size:18px">Click on the Forgot Password button at the bottom of the Sign In page.</h3>
            <p style ="font-size:12px">This will take to a password reset page where you can reset your account password.</p>
            <p style ="font-size:12px">Once you enter the password reset page, you need to enter the email address and press the Submit button to start resetting your password.</p>
            <p style ="font-size:12px">Then, you must to go to your email and click on the reset password link in order to change your account password.</p>
            <p style ="font-size:12px">You are done resetting your account password.</p>
        </div>
    </body>
</html>
{% endblock %}
