{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>CD Spec Viewer About Page</title>
    </head>

    <body>
        <h1>This is a spectrometer project by Dr. Sherrer.</h1>
        <h2>This project is collaborated with student taking computer science classes. We have create a website for people to upload the results.</h2>
        <div>
            <h3>This is how to use the cdspeccollab.smcm.edu website:</h3>
            <p>If you want to upload a CVS file to that website, please click on the upload button.</p>
            <p>This will lead you to a create page, which will have certain requirement you will need to fill out first.</p>
            <p>Once you fill in all of the required info in the create page, you can then click summit button.</p>
        </div>
        <div>
            <h3>Click on the index button on the navagation bar to take you the table view page:</h3>
            <p>If you want to multigraph a graph, you must select the graph that data info first before you click on the multigraph button.</p>
            <p>There is an search bar in the table view page.</p>
            <p>There is an previous button and next button in the table view page at the bottom, so you see how many people put entries in the website.</p>
        </div>
        <div>
            <h3>If you want to create an account on the website. Click on the sign up button on the navagation bar to take you the sign up page:</h3>
            <p>This will lead you to a sign up page, which will have certain requirement you need to fill out first.</p>
            <p>Once you fill in all of the required info in the sign up page, you can then click summit button.</p>
            <p>You must go in your email and click on the varification link in order to verify your account.</p>
            <p>You are done with signing up for the website.</p>
        </div>
        <div>    
            <h3>If you want to sign in to the website. Click on the sign in button on the navagation bar to take you the sign in page:</h3>
            <p>Your login username will be the beginning part of the your email without email ending part.</p>
            <p>You need to enter the verifyed password you created for your account on the website.</p>
            <p>You can make the choice of allowing the website to remember your account if you like, this part is optional.</p>
            <p>You are done with signing in to the website.</p>
        </div>
        <div>
            <h3>What happen if you forget your account password?:</h3>
            <h3>Click on the forgot password button at the bottom of the Sign In page.</h3>
            <p>This will take to a password reset page where you can reset your account password.</p>
            <p>Once you enter the password reset page, you need to enter the email address and press summit button that can reset you password.</p>
            <p>You need to go to your email and click on the reset password link in order to change your account password.</p>
            <p>You are done with resetting your account password.</p>
        </div>
    </body>
</html>
{% endblock %}