{% extends "base.html" %}

{% block content %}
<html>
    <head>
    <title>CD Spec Viewer About Page</title>
    <style>
    .Instruction {
        text-align: justify;
        background-color: lightblue;
    }
    </style>
    </head>
    <body>
        <h1 sytle ="text-align:center">CD Spec Viewer About Page</h1>
        <p sytle ="text-align:center">This is a spectrometer project by Dr. Sherrer.</p>
        <p sytle ="text-align:center">This project was developed by students taking the COSC Capstone course at St. Mary's College of Maryland during the Fall 2020 and Spring 2021 semesters. We have created this website for people to upload their data and display the results.</p>
        <div class ="Instruction">
            <h3 style ="font-size:18px">Viewing CD Spectrometer runs:</h3>
            <p>A table view listing all of the runs can be found by clicking on the <a href="{% url 'cdspec:index' %}">Index</a> tab on the top of the page.</p>
            <p>You can see a detailed view of each run by clicking on the name on the first column of the table.</p>
            <p>If you want to graph multiple runs at once, you must select multiple runs by clicking on the rows of the table.</p>
            <p>There is a previous button and next button in the table view page at the bottom for you to see older/newer runs.</p>

            <h3 style ="font-size:18px">Uploading files to the database:</h3>
            <p>If you want to upload a CD spectrometer run, click on the upload button on the table view page.</p>
            <p>This will lead you to the create page, where you will need to fill out various information and provide a properly formatted .csv file pertaining to the run.</p>
            <p>Once this is done, you can then click summit button. You will be redirected to a detailed view of that run that includes an interactive graph.</p>

            <h3 style ="font-size:18px">Creating an account:</h3>
            <p>You can create an account by clicking on <a {% if not request.user.is_authenticated %} href="{% url 'account_signup' %}" {% endif %}> Sign Up</a> at the top of the page.</p>
            <p>This will lead you to a sign up page, where you will need to provide an email address and password.</p>
            <p>You must then go into your email and click on the verification link in order to verify your account before being authorized.</p>
            <p>Alternatively, if you have an SMCM email, you can go straight to the <a href="{% url 'account_login' %}">login</a> page and log in using your Google account.</p>

            <h3 style ="font-size:18px">Signing in:</h3>
            <p>You can sign in to your account by clicking on <a {% if not request.user.is_authenticated %} href="{% url 'account_login' %}" {% endif %}>Sign In</a> at the top of the page.</p>
            <p>Your login username will be the beginning part of the your email preceding "@example.com".</p>
            <p>You need to enter the verified password that you created for your account on the website.</p>
            <p>You can allow the website to remember your account if you like; this part is optional.</p>

            <h3 style ="font-size:18px">Account Management:</h3>
            <p>If you are logged in, you can go to <a {% if request.user.is_authenticated %} href="{% url 'users:detail' request.user.username  %}" {% endif %}>My Profile</a> to manage your account.</p>
            <p>You have the option of adding/removing/verifying your email address(es) as well as changing your primary email.</p>
            <p>If you have not already done so, you can also connect your existing account to your SMCM account.</p>
        </div>
    </body>
</html>
{% endblock %}