{% extends "account/base.html" %}
<!-- Extend the base template for account-related pages -->

{% load i18n %}
<!-- Load the internationalization library for translations -->
{% load crispy_forms_tags %}
<!-- Load crispy forms library for styling forms -->

{% block head_title %}
{% trans "Change Password" %}
<!-- Set the page title to "Change Password" -->
{% endblock %}

{% block inner %}
<!-- Main content block for the page -->
    <h1>{% trans "Change Password" %}</h1>
    <!-- Display the "Change Password" heading -->

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        <!-- Create a form to handle the password change -->
        {% csrf_token %}
        <!-- Add CSRF protection for security -->
        {{ form|crispy }}
        <!-- Render the password change form with crispy styling -->
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        <!-- Button to submit the form and change the password -->
    </form>
{% endblock %}
