{% extends "account/base.html" %}
<!-- Extend the base template for account-related pages -->

{% load i18n %}
<!-- Load the internationalization library for translations -->
{% load account %}
<!-- Load account-specific template tags -->

{% block head_title %}
{% trans "Password Reset" %}
<!-- Set the page title to "Password Reset" -->
{% endblock %}

{% block inner %}
<!-- Main content block for the page -->
    <h1>{% trans "Password Reset" %}</h1>
    <!-- Display the "Password Reset" heading -->

    {% if user.is_authenticated %}
    <!-- Check if the user is already logged in -->
    {% include "account/snippets/already_logged_in.html" %}
    <!-- Include a snippet to inform the user they are already logged in -->
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <!-- Display a message indicating that a password reset email has been sent -->
{% endblock %}
