{% extends "base.html" %} <!-- Extend the base template for page layout -->
<html>

{% block content %}
<head>
    <title>CD Spec Viewer</title> <!-- Title of the page -->
</head>

<body>

    <h1>CD Spec Viewer</h1> <!-- Main header of the page -->
    <h2>Welcome to Dr. Sherrer's CD Spec Viewer</h2> <!-- Subheading welcoming users to the CD Spec Viewer -->

    <p><b>Description:</b> The Circular Dichroism Spectrometer (CD Spec) application is an online database created for research
        and education purposes. This application shall be utilized by both the instructors and students to monitor
        spectral changes in structure between protein-DNA interactions.</p> <!-- Description of the project and its purpose -->

    <p><b>Project Leads:</b> Alex De La Paz, Caleb Shankle</p> <!-- List of project leads -->

    <p><b>R&D Contributors:</b> Alexander White, Cooper Rice, Benjamin Bowering, Braden Clough, Edmund Sherman, Jim Toledo,
        Jordan Dixon, Kathryn Li, Patrick Romero, Thomas Walker</p> <!-- List of research and development contributors -->

    <p><b>Q&A Contributors:</b> Annette Orr, Braden Clough, Cameron Carpenter, Christopher Beatrez, Edward Park, Faith Meyer
    </p> <!-- List of contributors for the Q&A section -->

    <a href="https://cdspeccollab.smcm.edu/cdspec/">Continue to Website</a> <!-- Link to continue to the website -->

</body>

</html>
{% endblock content %}
