{% extends 'base.html' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
	<table id="table-view" class="table" style="width: 100%" />
{% endblock %}

{% block extra_js %}
	{% block javascript %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css"/>
	
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
	
	<script>
	$(document).ready(function() {
    	var selected = [];

		var dt_table = $('#table-view').DataTable({
						<!-- could not get url reverse matching to work -->
			ajax: '/spec_run_data',
			order: [[ 1, "desc" ]],
			"rowCallback": function( row, data ) {
				if ( $.inArray(data.pk, selected) !== -1 ) {
					$(row).addClass('selected');
				}
			},
			columns: [
				{
					data: 'pk',
					visible: false
				},
				{
					title: 'Molecule Name',
					data: 'run_title',
					render: function (data, type, row) {
						return '<a href="/' + row.pk + '">' + row.run_title + '</a>';
					}					
				},
				{
					title: 'Creation User',
					data: 'run_user'
				},
				{
					title: 'Date',
					data: 'upload_date',
					render: function (data) {
						let date = new Date(data);
						return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
					}
				},
				{
					title: "Data Points",
					data: 'data_points'
				}
				
				{% comment %} {
					title: 'Upload User waiting dbchange',
					data: 'run_user'
				},
				{
					title: 'Spectrometer',
					data: 'protein_concentration'
				}, {% endcomment %}
			],
			rowId: 'pk',
			searching: true,
			processing: true,
			serverSide: true,
			dom : 'Bfrtip',
			buttons : [
			{
				text : "Upload",
				action: function(){ window.location.href = "create"; }
			},
			{
				text : "Multi-Graph",
				action: function(){
					if(selected.length != 0){
					var slug = "/"
					selected.forEach(pk => slug+= pk + "/");
					window.location.href = "multi" + slug;
					}
				}
			},
			]
		});

		$('#table-view tbody').on('click', 'tr', function () {
			var id = this.id;
			var index = $.inArray(id, selected);
	
			if ( index === -1 ) {
				selected.push( id );
			} else {
				selected.splice( index, 1 );
			}
			console.log(selected);
			$(this).toggleClass('selected');
    } );

	});
	</script>
	{% endblock javascript %}

{% endblock extra_js %}